*{
    margin: 0;
    padding: 0;
}
.header{
       min-height: 100vh;
width: 100%;
       background-image: linear-gradient(rgba(0,0,0,0.7));
       background-image: url("images/wp2990289-1366x768-hd-wallpapers-nature.jpg");
      background-position: center;
      background-color: green;
      background-size: cover;
      
      position: relative;
    }


nav{
    display: flex;
    padding: 10px 20px;
   
}
ul{
    
    float: right;
    list-style: none;
   
  
}
ul li{
   display: inline-block;
   padding: 10px 20px;
   margin-top: 20px;
   font-size: 22px;
}
ul a{
    color: white;
  text-decoration: none;
}
ul a::after{
    content: " ";
    width: 0%;
    height: 2px;
    display: block;
    background: red;
    transition: 1s;
}
ul a:hover::after{
    width: 100%;
    
}
ul a:hover{
    color: black;
}
.text{
    position: absolute;
    padding: 20px;
    top: 50%;
    border: 1px solid white;
    left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
width: 90%;
}
.products{
    
    overflow: hidden;
}
.text h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.text p{
    color: white;
    font-size: 20px;
}
.row{
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
  

}
.col{
    width: auto;
    height: min-content;
    background-color: teal;
    padding: 20px ;
    color: white;
    margin: 20px ;
    line-height:1.4;
    font-size: 0.5cm;
}
.col p{
    padding: 5px;
    
    margin-top: 10px;
}
.col h3{
    margin-bottom: 10px;
    text-align: center;
}

.row img{
    width: 100%;
    height: auto;
}
.products h2{
    text-align: center;
    margin-top: 20px;

}
.about{
    background-color: tomato;
    padding: 30px 15px;
    text-align: center;
    
}
 .link .fa{
    color: white;
    display: none;
}
@media(max-width:700px){
    .row{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
      
    
    }
    .col{
        width: 100%;
    height: min-content;
    background-color: teal;
    padding: 20px ;
    color: white;
    margin: 20px ;
    line-height:1.4;
    font-size: 0.5cm;
    }
    .header{
        position: relative;
    }
    .text{
        position: absolute;
        padding: 20px;
        margin: 20px;

        text-align:center;
        top: 50%;
        border: 1px solid white;
        left: 50%;
       transform: translate(-50%,-50%);
       text-align: center;
    width: 90%;
    }

   .link{
    
      /* overflow: hidden; */
     display: block;
        list-style: none;
        background-color: orangered;
        height: 100vh;
    z-index: 2;
     transition: 1s;
     left: -200px;
        top: 0;
        position: absolute;
        width: 200px;
       
      
    }
    ul li{
 
   
       padding: 10px 20px;
     
       font-size: 22px;
       margin-left: 10px;
    }
    ul a{
        color: white;
      text-decoration: none;
      
    }
    ul a::after{
        content: " ";
        width: 0%;
        height: 2px;
        display: block;
        background: black;
        transition: 1s;
    }
    ul a:hover::after{
        width: 100%;
        
    }
    ul a:hover{
        color: black;
    }
     
 .fa{
     cursor: pointer;
    display: block;
    font-size: 25px ;
 margin-left: 15px;
position: absolute;
color: white;
margin-top: 15px;

}
.link .fa{
    display: block;
 margin: 2px 15px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}


}
.contact{
    background-color: #69ff44;
    height: 300px;
    display: flex;
    padding: 20px;
    justify-content:space-evenly;


}
.card{
background-color:white;

width: 500px;
height: 300px;
margin-left: 20px;
}
.card li{
display: inline-block;
}
#address {
    font-size:25px;
    padding: 0px;
}
.card img{
    width: 100%;
    height: 200px;
}
.add{
    padding: 10px;
    margin: 10px;
    color: black;
}
.contact .fa-whatsapp-square{
    color:  #4dc247;
    font-size: 50px;
    vertical-align: middle;
    margin-right: 20px;
}
.contact .fa-phone-square-alt{
    color: #55acee;
    font-size: 50px;
    margin-right: 20px;
    vertical-align: middle;
}
.contact .fa-instagram-square{
    color: #e95950 ;
    margin-right: 20px;
    vertical-align: middle;
    font-size: 50px;
    
}
.contact .fa-facebook-square{
    color : #3b5998;
    font-size: 50px;
    vertical-align: middle;
    margin-right: 20px;
}
@media(max-width:700px){
    .card{
        background-color:rgb(48, 39, 85);
        
        width: 100%;
        display: inline-flex;

        margin :20px;
        height: auto;
color: white;

        }
        .contact{
            background-color: #69ff44;
          
           display: contents;
            padding: 20px;
            justify-content:space-evenly;
        
        
        }
        .add{
            color: white;
        }
        .card ul{
            display:flexbox;
            justify-content: center;

        }
        
            .contact .fa-whatsapp-square{
                color:  #4dc247;
                font-size: 30px;
                vertical-align: middle;
                margin-right: 20px;
            }
            .contact .fa-phone-square-alt{
                color: #55acee;
                font-size: 30px;
                margin-right: 20px;
                vertical-align: middle;
            }
            .contact .fa-instagram-square{
                color: #e95950 ;
                margin-right: 20px;
                vertical-align: middle;
                font-size: 30px;
                
            }
            .contact .fa-facebook-square{
                color : #3b5998;
                font-size: 30px;
                vertical-align: middle;
                margin-right: 20px;
            }
            .text{
                position:absolute;
                padding: 10px;
                /* top: 50%; */
                margin: 20px;
                border: 1px solid white;
                /* left: 50%; */
                height: auto;
                max-width: 100%;
           
               /* transform: translate(-50%,-50%); */
               text-align: center;
            
            }
           
}
